.footer {
  bottom: 0;
  font-size: 0.8rem;
  // left: 50%;
  // margin-left: -250px;
  // position: fixed;
  text-align: center;

  a {
    color: inherit;
    font-weight: 500;
    text-decoration: none;
  }
}
